body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #EEEACD;
    padding: 40px 10px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.nav-home {
    margin-bottom: 20px;
    text-align: center;
}

.nav-link {
    text-decoration: none;
    margin: 0 15px;
    padding: 5px 10px;
    font-size: 1.1em;
    color: black;
    display: inline-block;
}

.nav-link:hover {
    color: #FF69B4;
    text-decoration: underline;
    font-weight: 600;
}

.nav-link.active {
    color: #FF69B4;
    font-weight: 600;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 0 auto;
    padding: 0 10px;
    height: auto;
}

.frame {
    background-color: #D8ECD8;
    border: 2px solid #FF1493;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 70%;
    min-height: 750px;
    border-radius: 4px;
    transition: border-color 0.3s ease;
    position: relative;
}

.overlay {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    gap: 15px;
    width: 100%;
    border-bottom: 1px solid #ff1491b0; 
    margin-bottom: 10px;
}

.frame-title {
    color: #FF1493;
    font-size: 1.6em;
    font-weight: 600;
    margin: 0;
    text-align: left;
}

.frame:hover {
    border-color: #6C91BF;
}


.card-container{
    width: 70%;
    min-height: 550px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background-color: #D8ECD8;
    cursor: pointer;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.1));
    padding:1rem;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #FF1493;
    padding: 10px 0;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:15px;
    width: 100%;
    /* border-bottom: 1px solid #584348; */
}

.card-contain {
    border: 2px solid #584348;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    text-align: center;
    height: 100%;
    flex:1;
}

.frame-content {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-grow:1;
    height:100%;
    min-height: 0;
    cursor: pointer;
}

#src-background {
    position:absolute;
    inset: 0;
    z-index:0;
    /* cursor: url({coinCursor}) 16 16, auto; */
}

#src-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display:block;
}

#scratcher {
    position: absolute;
    inset:0;
    width:100%;
    height:100%;
    z-index: 1;
    display:block;
}

i {
    position: absolute;
    width: 3px;
    height: 3px;
    background: #494949;
    animation: animate 0.5s linear forwards;
    z-index: 3;
}

@keyframes animate {
    0% {
        opacity: 1;
        transform: translate(0,0);
    }
    100% {
        opacity: 0;
        transform: translate(var(--x), var(--y));
    }
}