<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Sketch 1</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.6.0/p5.min.js"></script>
    </head>
    <style>
        body{
            margin:0;
            background: #111;
            display:flex;
            justify-content: center;
            align-items:center;
        }

        #sketch1-container{
            width: 100%;
            height: auto;
        }
    </style>

    <body>
        <div id="sketch1-container"></div>
    </body>
</html>