---
import Header from "../components/Header.astro";
---

<html lang="fr">
  <head>
	<meta charset="UTF-8">
    <title>A propos</title>
  </head>
  <body>
    <Header active="/about"/>
    <div class="main-container">
        <h2>À propos de moi</h2>
        <p>Mon nom est Fabrice, je suis étudiant en informatique distribuée de l'ÉTS.</p>
        <p>Je suis capitaine de la troupe de théâtre les Raconteurs d'Angles et j'aime combiner l'art avec l'informatique.</p>
        <p>Sur ce portfolio, vous trouvez mes projets.</p>
        <p>Cette page manque de style, mais ça va venir !!!</p>
    </div>
  </body>
</html>