---
import P5Wrapper from '../components/P5Wrapper.astro';
import Header from '../components/Header.astro';
import Scratcher from './projets/Scratcher.astro';
import '../styles/global.css';
import FeaturedFrame from '../components/FeaturedFrame.astro';
import Sketch1 from './p5js/Sketch1.astro';
import Sketch2 from './p5js/Sketch2.astro';
---


<html lang="fr">
  <head>
	<meta charset="UTF-8">
    <title>Portfolio</title>
  </head>
  <body>
    <Header active="/"/>
    <div class="main-container">
      <FeaturedFrame title="Scratcher"><Scratcher/></FeaturedFrame>
      <P5Wrapper title="L'apostrophe des entrailles"><Sketch1/></P5Wrapper>
      <P5Wrapper title="L'attaque des titans"><Sketch2/></P5Wrapper>
    </div>
  </body>
</html>