---
import FeaturedFrame from '../components/FeaturedFrame.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
---


<html lang="fr">
  <head>
	<meta charset="UTF-8">
    <title>My Homepage</title>
  </head>
  <body>
    <div class="title">
        <div>🌸</div>
        <h1>Le portfolio à Fabrice</h1>
        <div>🌸</div>
    </div>
    <nav class="nav-home">
        <a class="nav-link active" href="/">Home</a>
        <a class="nav-link" href="/about">About</a>
        <a class="nav-link" href="/p5js/sketch1">Sketch 1</a>
    </nav>
    <div class="main-container">
      <FeaturedFrame title="Scratch card" script="../../scripts/scratch-card.js"/>
    </div>
  </body>
</html>