<html lang="fr">
  <head>
	<meta charset="UTF-8">
    <title>My Homepage</title>
  </head>
  <body>
    <h1>Hello world !</h1>
	<p>Explore mon projet ici !</p>

	<h2>Sketches !</h2>
	<ul>
		<li><a>Mon bébé, mon enfant, mon Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat non quam voluptate hic ipsa nobis facere unde ipsum cumque velit dicta neque totam, vel maiores! Doloremque eveniet fugiat laboriosam quod.</a></li>
	</ul>
  </body>
</html>