---
import Header from "../components/Header.astro";
---

<html lang="fr">
  <head>
	<meta charset="UTF-8">
    <title>Voodoo !</title>
  </head>
  <body>
    <Header active="/voodoo"/>
    <div class="main-container">
      <h2>Photo de voodoo</h2>
      <p>Bienvenue sur la page dédiée à ma passion pour la photographie de voodoo</p>
      <img src="/src/assets/voodoo/v2.jpeg" alt="Photo de voodoo" style="max-width:100%;height:auto;"/>
    </div>
  </body>
</html>