---
const { title } = Astro.props;
---

<div class="frame">
    <div class="overlay">
        <h2 class="frame-title">{title}</h2>
    </div>
    <div class="frame-content" id="frame-card">
        <slot/>
    </div>
</div>